# [Exercice de vérification](index.md)

Objectif : Verifier si Python, Node sont présents et que 2+2 font 4.

## Code

1. Python
`python3 --version`

2. Node
`echo Node $(node --version)`

3. Opération
`echo 2 + 2 = $((2+2))`

## LIEN DEPÔT
[Lien vers exercice](https://github.com/massaines-cpu/Prairie-In-s-Massa/tree/initiale/verification)
